Django
python-dotenv
django-jalali
pillow
djangorestframework
django-rest-swagger
drf-yasg
django-cors-headers
django-filter
djangorestframework-simplejwt
gunicorn
psycopg2-binary
django-filter
django-tinymce